html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  /* Applies the 'Roboto' font family to all HTML, body, and heading elements (h1 to h6)
     Ensures that these elements do not exceed the width of the parent element */
}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
  /* Styles the sidebar (w3-sidebar class) with specific size and position:
     - 'z-index: 3': Stacks the sidebar above other elements
     - 'width: 250px': Sets the width of the sidebar
     - 'top: 43px' and 'bottom: 0': Positions the sidebar vertically
     - 'height: inherit': Inherits the height from the parent element */
}

body {
  background-color: rgb(228, 228, 228);
  /* Sets the background color of the body to a light gray (rgb(228, 228, 228)) */
}

.w3-sidebar {
  background-color: rgb(205, 205, 205) !important;
  /* Overrides previous styles for the sidebar background color with a medium gray (rgb(205, 205, 205))
     The '!important' declaration enhances the priority of this style */
}

.w3-top {
background-color: rgb(71, 71, 71) !important;
/* Styles the top bar (w3-top class) with a dark gray background color (rgb(71, 71, 71)) */
}

.w3-theme-l1 {
  color: rgb(228, 228, 228) !important;
  background-color: rgb(71, 71, 71) !important;
  /* Styles elements with class 'w3-theme-l1' with a dark gray background and light gray text */
}

pre {
background-color: rgb(205, 205, 205);
padding: 10px;
border-radius: 5px;
white-space: pre-wrap;
word-wrap: break-word;
max-width: fit-content;
margin: auto;
/* Styles <pre> elements (usually for displaying code or preformatted text) with:
   - Light gray background
   - Padding, rounded corners
   - Wrapping of text and breaking of long words for readability
   - Auto margin for centering and a max-width for fitting content */
}
